{% extends "base.html" %}
{% from "macros.html" import notice %}
{% block title %}Docs{% endblock %}
{% block body %}
  <div class="title">Docs</div>
  <div class="text">CivAuth lets your site sign people in with their Minecraft account. CivAuth apps are plain OAuth applications. The relevant URLs are:</div>
  <table class="grid">
    <tr>
      <th>Authorization</th>
      <td><span class="code">{{ issuer }}/oauth/authorize</span></td>
    </tr>
    <tr>
      <th>Token</th>
      <td><span class="code">{{ issuer }}/oauth/token</span></td>
    </tr>
    <tr>
      <th>User</th>
      <td><span class="code">{{ issuer }}/oauth/user</span></td>
    </tr>
  </table>
  <div class="text">See below for details.</div>
  <div class="heading">1. Register an app</div>
  <div class="text">First, register an app at <a href="{{ url('/apps') }}">OAuth apps</a>.</div>
  <div class="heading">2. Authorize a user with CivAuth</div>
  <div class="text">When you want a user to log in with CivAuth, redirect them to <span class="code">https://civauth.civwiki.org/oauth/authorize</span>, with the following query parameters:</div>
  <div class="codeblock">GET {{ issuer }}/oauth/authorize
    ?response_type=code
    &amp;client_id=3f9a1c
    &amp;redirect_uri=https%3A%2F%2Fexample.com%2Fcallback
    &amp;state=8c1f0e</div>
  <table class="grid">
    <tr>
      <th><span class="code">response_type</span></th>
      <td>Required. Must be <span class="code">code</span>.</td>
    </tr>
    <tr>
      <th><span class="code">client_id</span></th>
      <td>Required. The client id of your app.</td>
    </tr>
    <tr>
      <th><span class="code">redirect_uri</span></th>
      <td>Required. Must be listed as a redirect URI on your app. The user will be redirected here after they authorize your app.</td>
    </tr>
    <tr>
      <th><span class="code">state</span></th>
      <td>Optional. If passed, sent unchanged in the redirect URI. Used to tie the callback to the request that started the login, for security.</td>
    </tr>
    <tr>
      <th><span class="code">code_challenge</span></th>
      <td>Optional. Used for security; see <a href="https://www.rfc-editor.org/rfc/rfc7636">PKCE</a>. If sent, also send <span class="code">code_challenge_method=S256</span>.</td>
    </tr>
  </table>
  <div class="text">For now, there is no <span class="code">scope</span> parameter. Each app gets the user's Minecraft name and UUID.</div>
  <div class="text">Once the user approves your app, they are redirected to the url in <span class="code">redirect_uri</span>, with a code:</div>
  <div class="codeblock">https://example.com/callback?code=Qm9vbXNoYWthbGFrYQ&amp;state=8c1f0e</div>
  {{ notice('If the user declines, the callback contains <span class="code">error</span> and <span class="code">error_description</span> instead. See <a href="https://www.rfc-editor.org/rfc/rfc6749#section-4.1.2.1">RFC 6749 §4.1.2.1</a>.', label="Note") }}
  <div class="heading" id="exchange">3. Exchange the code for a token</div>
  <div class="text">Once you have a code from CivAuth, exchange it for a token by sending a POST to <span class="code">https://civauth.civwiki.org/oauth/token</span>:</div>
  <div class="codeblock">curl -d grant_type=authorization_code \
  -d client_id=3f9a1c \
  -d client_secret=CLIENT_SECRET \
  -d code=Qm9vbXNoYWthbGFrYQ \
  -d redirect_uri=https://example.com/callback \
  {{ issuer }}/oauth/token</div>
  <table class="grid">
    <tr>
      <th><span class="code">grant_type</span></th>
      <td>Required. Must be <span class="code">authorization_code</span>.</td>
    </tr>
    <tr>
      <th><span class="code">client_id</span></th>
      <td>Required. Your app's client id.</td>
    </tr>
    <tr>
      <th><span class="code">client_secret</span></th>
      <td>Required. Your app's secret.</td>
    </tr>
    <tr>
      <th><span class="code">code</span></th>
      <td>Required. The code from the callback.</td>
    </tr>
    <tr>
      <th><span class="code">redirect_uri</span></th>
      <td>Required. The same redirect URI from the authorization request.</td>
    </tr>
    <tr>
      <th><span class="code">code_verifier</span></th>
      <td>Optional. Required if you sent <span class="code">code_challenge</span>.</td>
    </tr>
  </table>
  <div class="text">A successful exchange returns:</div>
  <div class="codeblock">{"access_token": "oJ3kZQ8vT2mXpL5wR9bYcH1nAeKdG7sUfV4jMqW0xEo", "token_type": "Bearer", "expires_in": {{ token_ttl * 86400 }}, "refresh_token": "Xp2vN7dKq4RtW9yBcL3mHf8sJa6ZgUe1oVi5TnPk0Cw"}</div>
  <div class="text">The access token lasts {{ token_ttl }} days. The refresh token lasts {{ refresh_ttl }} days.</div>
  <div class="heading">4. Look up the user</div>
  <div class="text">Use the access token to look up the user:</div>
  <div class="codeblock">curl -H 'Authorization: Bearer oJ3kZQ8vT2mXpL5wR9bYcH1nAeKdG7sUfV4jMqW0xEo' {{ issuer }}/oauth/user</div>
  <div class="codeblock">{"uuid": "069a79f4-44e9-4726-a5be-fca90e38aaf5", "name": "Notch"}</div>
  <div class="text">This returns the UUID and name of the Minecraft account.</div>
  <div class="heading" id="refresh">5. Refresh an access token</div>
  <div class="text">When an access token expires, you can refresh it using the refresh token. POST to <span class="code">https://civauth.civwiki.org/oauth/token</span>:</div>
  <div class="codeblock">curl -d grant_type=refresh_token \
  -d client_id=3f9a1c \
  -d client_secret=CLIENT_SECRET \
  -d refresh_token=Xp2vN7dKq4RtW9yBcL3mHf8sJa6ZgUe1oVi5TnPk0Cw \
  {{ issuer }}/oauth/token</div>
  <div class="text">The response is the same as in <a href="#exchange">the initial token exchange</a>.</div>
{% endblock %}
