*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
}

img,
svg {
  display: block;
}

table {
  border-collapse: collapse;
}

button,
summary {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}
